@import "tailwindcss";

@theme {
  --text: #000022;
  --bg: #FBF5F3;
  --color-primary: #E28413;
  --color-secondary: #646E78;
  --color-accent: #4D9DE0;
  --font-sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --font-heading: system-ui, 'Segoe UI', Roboto, sans-serif;
}

@layer base {
  body {
    font-family: var(--font-sans);
    color: var(--text);
    background-color: var(--bg);
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    color: var(--color-primary);
  }
}

@layer components {
  .divider {
    border-top: 1px solid var(--color-secondary);
    margin: 1rem 0;
    height: 0;
    width: 100%;
  }
  
}

:root {

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
} */

